@import url(./src/styles/cabecalho.css);
@import url(./src/styles/home.css);
@import url(./src/styles/about.css);
@import url(./src/styles/portfolio.css);
@import url(./src/styles/rodape.css);
@import url(./src/styles/contato.css);

:root {
    --cor-preto: #272121;
    --cor-preto-claro: #363333;
    --cor-laranja: #E16428;
    --cor-branco: #F6E9E9;
    font-size: 62.5%;
    --font-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--cor-laranja) var(--cor-preto-claro);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--cor-branco);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-preto-claro);
    border-radius: 100px;
    border: 3px solid var(--cor-branco);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--cor-branco);
    font-family: var(--font-principal);
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

figcaption {
    font-style: italic;
    font-size: 1.2rem;
    color: var(--cor-branco);
    text-align: end;
}

.destaque {
    color: var(--cor-laranja);
}

@media screen and (max-width: 786px) {
    .sumir-mobile{
        display: none;
    }
}