@import url(./src/styles/cabecalho.css);
@import url(./src/styles/home.css);

:root {
    --cor-preto: #272121;
    --cor-preto-claro: #363333;
    --cor-laranja: #E16428;
    --cor-branco: #F6E9E9;
    --font-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    font-family: var(--font-principal);
}

.cor-laranja {
    color: var(--cor-laranja);
}

