.section-about {
    background-color: var(--cor-laranja);
    height: 100vh;
    padding: 0 5em;

    color: var(--cor-preto);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.section-about-img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.section-about-img__img {
    width: 350px;
    border: solid 1px black;
    border-radius: 50% 20% 50% 20%;
}

.section-about__lista {
    display: flex;
    align-items: center;
    gap: 1em;
}

.section-about__lista-item {
    list-style-type: none;
    margin: 0.1em;
}

.fa {
    color: var(--cor-preto);
}

.section-about-titulo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.section-about-titulo__titulo {
    font-size: 64px;
}

.section-about-titulo__texto {
    font-size: 24px;
}


