.cabecalho {
    background-color: var(--cor-preto-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
}

.cabecalho-titulo {
    padding: 0 1em;
    
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 12px;
}

.cabecalho-titulo .img-logo {
    width: 50px;
}

.cabecalho-titulo__titulo{
    display: block;
}

.cabecalho-titulo__titulo-link {
    text-decoration: none;
    color: var(--cor-branco);
}

.cabecalho-lista{
    display: flex;
    justify-content: center;
    padding: 2em;
    list-style-type: none;
}

.cabecalho-lista__button {
    margin: 0.5em;
    padding: 1em;
    text-decoration: none;
    color: var(--cor-branco);
    border-radius: 1em;
}

.cabecalho-lista__button:hover{
    background-color: var(--cor-laranja);
}

@media screen and (max-width: 768px){
    .cabecalho {
        height: 55px;
        padding: 0 0;
        align-items: center;
    }
    
    .cabecalho-lista {
        flex-direction: row;
    }
    
    .cabecalho-lista__button{
        width: 50%;
        margin: 1em 0;
        padding: 0.5em 1em;
        font-size: 1em;
    }

    .cabecalho-titulo__titulo{
        display: none;
    }

    .container__imagem {
        padding: 1em;
    }

}