.rodape{
    display: flex;
    background-color: var(--cor-laranja);
    height: 100%;
    padding: 1em;
    justify-content: center;
}
.rodape-guitupinamba{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em
}

.rodape-guitupinamba-link, a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    text-decoration: none;
    color: var(--cor-branco);
}

.rodape-guitupinamba-logo{
    width: 5%;
}

@media (min-width: 577px) and (max-width: 767px) {
    .rodape-guitupinamba-logo{
        width: 50px;
    }

    .rodape-guitupinamba-link{
        font-size: small;
    }
}